
MenuExample.png
TextExample.png
VRCVideoLibrary/VideoLibrary/RubyButtonAPI.cs
*.dll
VRCVideoLibrary/VideoLibrary/bin/Debug/VRCVideoLibrary.pdb
BigTextExample.png
ModID.txt
/VRCVideoLibrary/VideoLibrary/bin/
/VRCVideoLibrary/VideoLibrary/obj/
/VRCVideoLibrary/.vs/
debug.log
modInfo.json
