
MenuExample.png
TextExample.png
VRCVideoLibrary/VideoLibrary/RubyButtonAPI.cs
*.dll
VRCVideoLibrary/VideoLibrary/bin/Debug/VRCVideoLibrary.pdb
BigTextExample.png
ModID.txt
VRCVideoLibrary/VideoLibrary/obj/Debug/VRCVideoLibrary.pdb
VRCVideoLibrary/VideoLibrary/obj/Debug/VideoLibrary.csprojAssemblyReference.cache
VRCVideoLibrary/VideoLibrary/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
VRCVideoLibrary/VideoLibrary/obj/Debug/VideoLibrary.csprojAssemblyReference.cache
VRCVideoLibrary/VideoLibrary/obj/Debug/VideoLibrary.csprojAssemblyReference.cache
